@model  APSDevApp.ViewModels.TrainerandTraineeCourseList
@{
    ViewBag.Title = "Index";
}

@*<h2>@Model.Course.Name</h2>*@
<h2>Index Course</h2>
@Html.ActionLink("Assign Trainer to Course", "CreateTrainerAssign", "Assign",
                                          new { id = Model.Course.Id },
                                          new { @class = "btn btn-danger" })
@Html.ActionLink("Assign Trainee to Course", "CreateTraineeAssign", "Assign",
                                          new { id = Model.Course.Id },
                                          new { @class = "btn btn-danger" })

<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>FullName</th>
            <th>CourseName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model.Trainers)
        {
            <tr>
                <td>@item.ApplicationUser.UserName</td>
                <td>@item.ApplicationUser.FullName</td>
                <td>@item.course.Name</td>
                <td>
                    @using (Html.BeginForm("DeleteTrainerAssign", "Assign", "POST"))
                    {
                        <div>
                            <input type="hidden" name="CourseId" value="@Model.Course.Id">
                            <input type="hidden" name="TrainerId" value="@item.TrainerId">
                        </div>
                        <div>
                            <button type="submit">Delete Trainer Assign</button>
                        </div>
                    }
                    @Html.ActionLink("Change Trainer Assign", "ChangeTrainerAssign", "Assign",
                                     new { CourseId = Model.Course.Id, TrainerId = item.TrainerId },
                                     new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
    @* Trainee*@
    <tbody class="text-center">
        @foreach (var item in Model.Trainees)
        {
            <tr>
                <td>@item.ApplicationUser.UserName</td>
                <td>@item.ApplicationUser.FullName</td>
                <td>@item.course.Name</td>
                <td>
                    @using (Html.BeginForm("DeleteTraineeAssign", "Assign", "POST"))
                    {
                        <div>
                            <input type="hidden" name="CourseId" value="@Model.Course.Id">
                            <input type="hidden" name="TraineeId" value="@item.TraineeId">
                        </div>
                        <div>
                            <button type="submit">Delete Trainee Assign</button>
                        </div>
                    }
                    @Html.ActionLink("Change Trainee Assign", "ChangeTraineeAssign", "Assign",
                                     new
                                          {
                                              CourseId = Model.Course.Id,
                                          TraineeId = item.TraineeId
                                          },
                                     new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Back to Courses Detail", "Details", "Courses",
  new { id = Model.Course.Id },
  new { @class = "btn btn-primary" })
