@model APSDevApp.Models.Staff
@{ ViewBag.Title = "Edit";
}

<h2>Edit staff's profile</h2>

@using (Html.BeginForm("Update", "Staffs", "POST"))
{

    @Html.HiddenFor(model => model.StaffId)

    <div class="form-group">
        @Html.LabelFor(model => model.ApplicationUser.FullName)
        @Html.TextAreaFor(model => model.ApplicationUser.FullName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age)
        @Html.TextAreaFor(model => model.Age, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DayOfBirthday)
        @Html.TextAreaFor(model => model.DayOfBirthday, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Location)
        @Html.TextAreaFor(model => model.Location, new { @class = "form-control", style = "width:350px" })
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Change</button>
    </div>
}