@model IEnumerable<APSDevApp.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Index Course</h2>

@Html.ActionLink("Create new Course", "Create", "Courses",
	null,
	new { @class = "btn btn-primary" })

<form>
    <label for="fname">Search by Course Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course #</th>
            <th>Course Name</th>
            <th>Name</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Category.Name</td>
            <td>
                @Html.ActionLink("Details", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Update", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", "Courses", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>