@model  APSDevApp.ViewModels.CourseCategoriesViewModel
@{
    ViewBag.Title = "Update";
}

<h2>Update Course</h2>

@using (Html.BeginForm("Update", "Courses", "POST"))
{
    <div class="form-group">
        @Html.HiddenFor(model => model.Course.Id)
        @Html.LabelFor(model => model.Course.Name)
        @Html.TextBoxFor(model => model.Course.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Course.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Course.Description)
        @Html.TextAreaFor(model => model.Course.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Course.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Course.Category.Name)
        @Html.DropDownListFor(model => model.Course.CategoryId,
        new SelectList(Model.Categories, "Id", "Name"),
        new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Course.CategoryId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Course</button>
    </div>
}