@model APSDevApp.Models.Trainer
@{ ViewBag.Title = "Details";
}

<h2>Profile of this trainer</h2>

<table class="table table-bordered">
    <thead>
        <tr style="background-color: #8DC7C7 ; text-align:center; ">
            <th>E-mail</th>
            <th>Full name</th>
            <th>Phone number</th>
            <th>Type</th>
            <th>Working Location</th>
        </tr>
    </thead>
    <tbody>
        <tr style="color:black; text-align:center">
            <td>@Model.ApplicationUser.UserName</td>
            <td>@Model.ApplicationUser.FullName</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.Type</td>
            <td>@Model.WorkingPlace</td>


        </tr>
    </tbody>
</table>
@Html.ActionLink("Back", "Index", "Trainers",
    null,
    new { @class = "btn btn-primary" })

