<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - APS FPT </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("APSFPT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("staff"))
                    {

                        <li class="nav-item">@Html.ActionLink("Trainer", "Index", "Trainers", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("Trainee", "Index", "Trainees", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("Course", "Index", "Courses", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("Category", "Index", "Categories", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new { Style = "color:white" })</li>
                    }
                    @if (User.IsInRole("trainer"))
                    {
                        <li class="nav-item">@Html.ActionLink("View Assigned Course", "ViewCourse", "Account", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("Profile", "ViewProfile", "Account", null, new { Style = "color:white" })</li>
        
                        <li class="nav-item">@Html.ActionLink("Change Password", "ChangePasswordUser", "Account", null, new { Style = "color:white" })</li>
                    }
                    @if (User.IsInRole("trainee"))
                    {
                        <li class="nav-item">@Html.ActionLink("View Assigned Course", "ViewCourse", "Account", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("Profile", "ViewProfile", "Account", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("Change Password", "ChangePasswordUser", "Account", null, new { Style = "color:white" })</li>
                    }

                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("AccountStaff", "Index", "Staffs", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("AccountTrainer", "Index", "Trainers", null, new { Style = "color:white" })</li>
                        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new { Style = "color:white" })</li>
                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  APS FPT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>