@model IEnumerable<APSDevApp.Models.Trainee>
@{ ViewBag.Title = "Index";
    }

<h2>Trainees' Index</h2>

@using (Html.BeginForm("Index", "Trainees", "POST"))
{
    <div class="form-group">
        <label for="fname">Search by Trainee's full name:</label><br>
        @Html.TextBox("searchInput", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>E-mail</th>
            <th>Full name</th>
            <th>Programming language</th>
            <th>Age</th>
            <th>Education level</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ApplicationUser.UserName</td>
                <td>@item.ApplicationUser.FullName</td>
                <td>@item.ProgramingLanguage</td>
                <td>@item.Age</td>
                <td>@item.Education</td>
                <td>@item.Location</td>
                <td>
                    @Html.ActionLink("Details of this trainee's profile", "Details", "Trainees",
                                                          new { id = item.TraineeId },
                                                          new { @class = "btn btn-primary", style = "margin :10px" })
                    @Html.ActionLink("Edit this trainee's profile", "Update", "Trainees",
                                                          new { id = item.TraineeId },
                                                          new { @class = "btn btn-dark", style = "margin :10px" })
                    @Html.ActionLink("Delete this trainee", "Delete", "Trainees",
                                                          new { id = item.TraineeId },
                                                          new { @class = "btn btn-danger", style = "margin :10px" })
                    @Html.ActionLink("Reset & enter new password of this trainee", "ResetPassword", "Account",
                                                          new { id = item.ApplicationUser.Id },
                                                          new { @class = "btn btn-danger", style = "margin :10px" })
                </td>
            </tr>
        }
    </tbody>
</table>