@model IEnumerable<APSDevApp.Models.Trainee>
@{ ViewBag.Title = "Index";
}

<h2>Trainees' Index</h2>
@Html.ActionLink("Create new Account Trainee", "Register", "Account", null, new { @class = "btn btn-danger", style = "margin :10px" })


@using (Html.BeginForm("Index", "Trainees", "POST"))
{
    <div class="form-group">
        <label for="fname">Search by Trainee's :</label><br>
        @Html.TextBox("searchInput", null, new { @class = "form-control" ,style= "margin :10px" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>E-mail</th>
            <th>Full name</th>
            <th>Programming language</th>
            <th>Age</th>
            <th>Education level</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ApplicationUser.UserName</td>
                <td>@item.ApplicationUser.FullName</td>
                <td>@item.ProgramingLanguage</td>
                <td>@item.Age</td>
                <td>@item.Education</td>
                <td>@item.Location</td>
                <td>
                    @Html.ActionLink("Details profile", "Details", "Trainees",
                                                          new { id = item.TraineeId },
                                                          new { @class = "btn btn-primary", style = "margin :10px" })
                    @Html.ActionLink("Edit profile", "Update", "Trainees",
                                                          new { id = item.TraineeId },
                                                          new { @class = "btn btn-danger", style = "margin :10px" })
                    @Html.ActionLink("Delete trainee", "Delete", "Trainees",
                                                          new { id = item.TraineeId },
                                                          new { @class = "btn btn-primary", style = "margin :10px" })
                    @Html.ActionLink("Reset & enter new password", "ResetPassword", "Account",
                                                          new { id = item.ApplicationUser.Id },
                                                          new { @class = "btn btn-danger", style = "margin :10px" })
                </td>
            </tr>
        }
    </tbody>
</table>